<div class="container_show" >
  <div class="profile_photo">
    <%= cl_image_tag current_user.profile.photo, class: "profile_photo"%>
  </div>
  <div class="title_show">
    <h1> Hello <%=@profile.first_name.capitalize%> !</h1>
    <h3><%=@profile.city%>
     <p><%= link_to 'Amend Profile', edit_profile_path(@profile), class: "amend" %></p>
  </div>
</div>
<div class="container_show2">
  <div class="show_profile2">
    <h2><strong>My details:</strong></h2>
    <h4><strong>First Name:</strong> <%= @profile.first_name %></h4>
    <h4><strong>Last Name:</strong> <%= @profile.last_name %></h4>
    <h4><strong>Address:</strong> <%= @profile.address %></h4>
    <h4><strong>Post Code:</strong> <%= @profile.post_code %></h4>
    <h4><strong>City:</strong> <%= @profile.city %></h4>
    <h4><strong>Phone Number:</strong> <%= @profile.phone_number %></h4>
    <h4><strong>Sex:</strong> <%= @profile.sex %></h4>
    <h4><strong>Birth Date:</strong> <%= @profile.birth_date %></h4>

  </div>
</div>
<div class="container">
  <H2 style="color:#9A9B94;"><strong>My journeys:</strong></H2>
  <div class='row'>
    <% current_user.profile.rents.each do |rent|%>
      <div class="col-xs-6 col-md-4">
        <%= render 'shared/card', flat: rent.flat %>
        <p>From: <%= rent.check_in_date %></p>
        <p>To: <%= rent.check_out_date %></p>
        <% duree = rent.check_out_date - rent.check_in_date %>
        <% tarif = rent.flat.price * duree  %>
        <p>Total price: € <%= tarif.to_i %> .</p>
      </div>
    <% end%>
  </div>
</div>
<%= render "shared/footer" %>


