<div class="container_login banner-flat" style="background-image: url('http://res.cloudinary.com/dwkqph9as/image/upload/v1511970291/BannerImage_vp7iqa.jpg');">
  <div class="form_card">
      <h3>First Name:   <%= @profile.first_name %></h3>
      <h3>Last Name:    <%= @profile.last_name %></h3>
      <h3>Address:      <%= @profile.address %></h3>
      <h3>Post Code:    <%= @profile.post_code %></h3>
      <h3>City:         <%= @profile.city %></h3>
      <h3>Phone Number: <%= @profile.phone_number %></h3>
      <h3>Sex:          <%= @profile.sex %></h3>
      <h3>Birth Date:   <%= @profile.birth_date %></h3>
      <p><%= link_to 'Update', edit_profile_path(@profile), class: 'btn btn-primary' %></p>
    </div>
  </div>


