<%= render "shared/banner_flat" %>
<%= render "shared/formulaire_flat" %>

<div class="container">
  <div class="row">
    <div class="col-xs-offset-6 col-xs-6">
      <p><%= @flat.capacity %> persons</p>
      <!-- <p><%= cl_image_tag @flat.photo, height: 169, width: 354, crop: :fill %></p> -->
      <p>Formulaire</p>
      <p>Number of people</p>
      <p>Start Date</p>
      <p>End Date</p>
      <p><%= @flat.description %></p>
      <p>Equipements</p>
      <% @feature.each do |feat| %>
      <p><%= feat %></p>
      <% end %>
    </div>
  </div>



