<%= render "shared/banner_flat" %>
<%= render "shared/formulaire_flat" %>

<div class="container">
  <div class="row">
    <div class="col-xs-offset-6 col-xs-6">

      <!-- <p><%= cl_image_tag @flat.photo, height: 169, width: 354, crop: :fill %></p> -->
      <p>Formulaire</p>
      <p>Number of people</p>
      <p>Start Date</p>
      <p>End Date</p>

      <p><%= @flat.description %></p>
      <p>Equipement</p>
      <% @flat.features.each do |feature| %>

      <p><%= feature.name %>
      <%=raw feature.fontawesome_logo %>
      </p>
      <% end %>
      <p>Reviews</p>

      <div class="description">
        <h3>Description</h3>
        <p><%=@flat.description%></p>

        <p>Capacity: <%=@flat.capacity%> persons</p>
      </div>
      <div class="description">
        <h3>Address</h3>
        <p><%=@flat.address%></p>
        <p><%=@flat.city%><%=@flat.post_code%></p>
      </div>
      <% @reviews = @flat.reviews %>
      <% if @flat.reviews %>

          <%= render "shared/reviews_flat_show" %>

      <%end%>
      <div class="map-flat">
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@flat.address}" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/banner_bas" %>
<%= render "shared/footer" %>




