<%= render "shared/banner_flat" %>
<%= render "shared/formulaire_flat" %>

<div class="container">
  <div class="row">
    <div class="col-xs-offset-6 col-xs-6">

      <!-- <p><%= cl_image_tag @flat.photo, height: 169, width: 354, crop: :fill %></p> -->
      <div class="description">
        <h3>Description</h3>
        <p><%= @flat.description %></p>
        <p>Equipement</p>
          <% @flat.features.each do |feature| %>
            <p><%= feature.name %>
            <%=raw feature.fontawesome_logo %>
            </p>
          <% end %>
        <p>Capacity: <%=@flat.capacity%> persons</p>
        <h3>Reviews</h3>
          <% @reviews = @flat.reviews %>
            <% if @flat.reviews %>
              <%= render "shared/reviews_flat_show" %>
            <%end%>

      </div>
      <div class="description">
        <h3>Address</h3>
        <p><%=@flat.address%></p>
        <p><%=@flat.city%><%=@flat.post_code%></p>
      </div>

      <div class="map-flat" id="map-flat">
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map-flat' } }, function() {
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
        handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
          }
        });
        <% end %>
      <% end %>
      <% #image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@flat.address}" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/banner_bas" %>
<%= render "shared/footer" %>




