<%= render "shared/banner_flat" %>
<%= render "shared/formulaire_flat" %>

<p><%= @flat.capacity %> persons</p>
<!-- <p><%= cl_image_tag @flat.photo, height: 169, width: 354, crop: :fill %></p> -->
<p>Formulaire</p>
<p>Number of people</p>
<p>Start Date</p>
<p>End Date</p>

<p><%= @flat.description %></p>
<p>Equipements</p>
<p>Reviews</p>

<p><%= link_to 'Ajouter un commentaire', new_flat_review_path(@flat), class: 'btn btn-primary' %></p>


<% content_for(:after_js) do %>
<%= javascript_tag do %>
  const coord = <%= raw @flat_coordinates.to_json %>;
    alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
  <% end %>
<% end %>
